.navbar {
  background: #24262b;
  color: #fff;
  height: 60px;
  padding: 0px 10px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

ul {
  list-style-type: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.modal-input {
  width: calc(100% - 30px) !important;
}
