.home-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.bet-wrapper {
  width: 700px;
  background: #17191b;
  padding: 10px;
  border-radius: 5px;
}

.bet-btn {
  width: 386px !important;
  height: 56px !important;
  border-radius: 5px !important;
  color: white !important;
  background-color: #49a31b !important;
  text-transform: none !important;
}

.btn-cashout {
  background-color: #f5ba1e !important;
}

.bet-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #2d3035;
}

.bet-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.bet-input-wrapper p {
  color: #98a7b5;
}

.bet-amount-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0px 0px 0px 12px;
  border-radius: 3px;
  background-color: #17191b;
}

.bet-amount-input {
  position: relative;
  height: 38px;
  background-color: #17191b;
  color: white;
  border: none;
}

.bet-amount-input:focus-visible {
  outline: unset;
}

.bet-amount-btn-box button {
  width: 3.125rem;
  min-width: unset;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: #31343b;
  margin-right: 0.25rem;
  color: white;
  text-transform: none;
}

.bet-amount-btn-box button:hover {
  background-color: #40444e;
}

.recent-bet-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 40%;
  background-color: #1e2024;
  padding: 5px;
  border-radius: 5px;
}

.recent-bet-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #24262b;
  border-radius: 5px;
  padding: 5px 0px;
}

.recent-bet {
  width: max-content !important;
  min-width: 9% !important;
}

.slide {
  min-width: max-content !important;
}

.table-wrapper {
  width: 550px;
  background-color: #1e2024;
  border-radius: 5px;
  padding: 5px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 24px);
  height: 38px;
  background-color: #24262b;
  border-radius: 5px;
  color: white;
  padding: 0px 12px;
}

.table-item-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
}

.table-item-header p {
  padding: 0px 6px;
}

.table-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 5px;
}

.table-item:hover {
  background-color: #24262b;
}

.table-item > div {
  height: 100%;
  padding: 0px 6px;
}

.table-item div {
  display: flex;
  align-items: center;
}

.table-item > div > span {
  margin-top: -4px;
}
