.ps-collapsed {
  width: 72px !important;
  min-width: 72px !important;
}

.ps-collapsed .ps-menu-button {
  justify-content: center;
  padding-left: 22px !important;
}

.ps-collapsed .ps-menu-icon {
  margin-right: 0px !important;
}

.ps-collapsed .ps-menu-button .ps-submenu-expand-icon {
  display: none !important;
}

.sidebar_header {
  padding: 10px;
}

.sidebar_submenu {
  background-color: #24262b;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px !important;
}

.sidebar_submenu a {
  height: 46px !important;
}

.sidebar_submenu a:hover {
  border-radius: 5px;
  background-color: #2d3035 !important;
  color: white !important;
}

.sidebar_submenu div {
  border-radius: 5px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  background-color: rgb(25 26 30) !important;
}

.ps-collapsed .sidebar_submenu div {
  border-radius: 5px;
  background-color: rgb(25 26 30) !important;
}

.sidebar_item {
  display: flex;
  align-items: center;
  height: 46px;
  border-radius: 5px;
  background-color: #24262b;
  font-size: 15px;
  padding: 0px 20px;
  margin-bottom: 5px;
}

.sidebar_item:hover {
  border-radius: 5px;
  background-color: #2d3035 !important;
  color: white !important;
}
